<%@ Template Language="C#" TargetLanguage="Text" Description="js api模板" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="表集合" %>

<!-- #include file="..\\common\\utils.cst" -->
<!-- #include file="..\\common\\mapTypeTransform.cst" -->
export const genRouters = [
    {
        path: '/baseManage',
        name: 'BaseManage',
        redirect: 'noRedirect',
        hidden: false,
        component: () => import('@/layout'),
        alwaysShow: true,
        meta: {
            icon: 'Menu',
            link: null,
            noCache: false,
            title: '基础管理',
        },
        permissions: ['User.list', 'Role.list', 'RolePermission.permissionList'],
        children: [
            {
                path: 'user',
                name: 'User',
                hidden: false,
                component: () => import('@/views/user'),
                meta: {
                    icon: '',
                    link: null,
                    noCache: false,
                    title: '用户管理',
                },
                permissions: ['User.list'],
            },
            {
                path: 'role',
                name: 'Role',
                hidden: false,
                component: () => import('@/views/role'),
                permissions: ['Role.list'],
                meta: {
                    icon: '',
                    link: null,
                    noCache: false,
                    title: '角色管理',
                },
            },
            {
                path: 'userPermission',
                name: 'UserPermission',
                hidden: false,
                component: () => import('@/views/permission'),
                permissions: ['RolePermission.permissionList'],
                meta: {
                    icon: '',
                    link: null,
                    noCache: false,
                    title: '角色权限',
                },
            },
        ],
    },
    {
        path: '/manage',
        name: 'Manage',
        redirect: 'noRedirect',
        hidden: false,
        component: () => import('@/layout'),
        alwaysShow: true,
        permissions: [
            <% for(int i = 0; i < Tables.Count; i++) { %>
            '<%= SnakeFormatHump(Tables[i].Name, true) %>.list',
            <% } %>
        ],
        meta: {
            icon: 'Grid',
            link: null,
            noCache: false,
            title: '管理页面',
        },
        children: [
            <% for(int i = 0; i < Tables.Count; i++) { %>
            {
                path: '<%= SnakeFormatHump(Tables[i].Name) %>',
                name: '<%= SnakeFormatHump(Tables[i].Name, true) %>',
                hidden: false,
                component: () => import('@/views/<%= SnakeFormatHump(Tables[i].Name) %>'),
                permissions: ['<%= SnakeFormatHump(Tables[i].Name, true) %>.list'],
                meta: {
                    icon: '',
                    link: null,
                    noCache: false,
                    title: '<%= Tables[i].Description == "" ? SnakeFormatHump(Tables[i].Name) : Tables[i].Description %>',
                },
            },
            <% } %>
        ],
    },
]
