<%@ Template Language="C#" TargetLanguage="Text" Description="js api模板" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="表集合" %>

<!-- #include file="..\\common\\utils.cst" -->
<!-- #include file="..\\common\\mapTypeTransform.cst" -->
export const genRouters = [
    {
        path: '/cic',
        name: 'Cic',
        redirect: 'noRedirect',
        hidden: false,
        component: () => import('@/layout'),
        alwaysShow: true,
        permissions: [
            'User.list',
            'UserPermission.list',
            <% for(int i = 0; i < Tables.Count; i++) { %>
            <% if(Tables[i].Name == "user") continue; %>
            '<%= SnakeFormatHump(Tables[i].Name, true) %>.list',
            <% } %>
        ],
        meta: {
            icon: 'Grid',
            link: null,
            noCache: false,
            title: '管理页面',
        },
        children: [
            {
                path: 'user',
                name: 'User',
                hidden: false,
                component: () => import('@/views/user'),
                permissions: ['User.list'],
                meta: {
                    icon: 'Menu',
                    link: null,
                    noCache: false,
                    title: '用户',
                },
            },
            {
                path: 'userPermission',
                name: 'UserPermission',
                hidden: false,
                component: () => import('@/views/permission'),
                permissions: ['UserPermission.list'],
                meta: {
                    icon: 'Menu',
                    link: null,
                    noCache: false,
                    title: '用户权限',
                },
            },
            <% for(int i = 0; i < Tables.Count; i++) { %>
            <% if(Tables[i].Name == "user") continue; %>
            {
                path: '<%= SnakeFormatHump(Tables[i].Name) %>',
                name: '<%= SnakeFormatHump(Tables[i].Name, true) %>',
                hidden: false,
                component: () => import('@/views/<%= SnakeFormatHump(Tables[i].Name) %>'),
                permissions: ['<%= SnakeFormatHump(Tables[i].Name, true) %>.list'],
                meta: {
                    icon: 'Menu',
                    link: null,
                    noCache: false,
                    title: '<%= Tables[i].Description == "" ? SnakeFormatHump(Tables[i].Name) : Tables[i].Description %>',
                },
            },
            <% } %>
        ],
    },
]
