<%@ Template Language="C#" TargetLanguage="Text" Description="入口文件" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="CodeSmith.Engine.Json.Linq" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Optional="False" Description="要生成代码的表集合" %>
<%@ Property Name="RootNameSpace" Type="System.String" Default="xxx项目" Optional="False" Category="General" Description="项目名称" %>
<%@ Property Name="JsonFile" Type="System.String" Category="File" Description="json文件的路径"  Editor="System.Windows.Forms.Design.FileNameEditor, System.Design" %>

<!-- #include file="common\\utils.cst" -->
项目名称：<%= RootNameSpace %>

<%
#region json文件加载 & 解析为JObject

JObject json = JObject.Parse(File.ReadAllText(JsonFile));

#endregion

#region 路由生成 !!!暂时

// vue3 - 路由 模板获取
CodeTemplate jsRoutersTemplate = GetCodeTemplate("\\vue3\\js\\genRouters.cst");
// vue3 - 路由 指定输出目录 & 渲染解析模版
string jsRoutersDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\router\\genRouters.js";
RenderFileUsingProperties(jsRoutersDirectory, true, ref jsRoutersTemplate, Tables);

#endregion

#region 模板获取

// vue3 - api
CodeTemplate vue3ApiTemplate = GetCodeTemplate("\\vue3\\js\\api.cst");

// vue3 - 列表
CodeTemplate vue3IndexTemplate = GetCodeTemplate("\\vue3\\index.cst");

// vue3 - 添加
CodeTemplate vue3AddTemplate = GetCodeTemplate("\\vue3\\add.cst");

// vue3 - 编辑
CodeTemplate vue3EditTemplate = GetCodeTemplate("\\vue3\\edit.cst");

// vue3 - 详情
CodeTemplate vue3DetailTemplate = GetCodeTemplate("\\vue3\\detail.cst");

// uniapp - api
CodeTemplate uniappApiTemplate = GetCodeTemplate("\\uniapp\\js\\api.cst");

// uniapp - 列表
CodeTemplate uniappIndexTemplate = GetCodeTemplate("\\uniapp\\index.cst");

// uniapp - 子表
CodeTemplate uniappSubTableTemplate = GetCodeTemplate("\\uniapp\\subTable.cst");

// uniapp - 添加
CodeTemplate uniappAddTemplate = GetCodeTemplate("\\uniapp\\add.cst");

// uniapp - 编辑
CodeTemplate uniappEditTemplate = GetCodeTemplate("\\uniapp\\edit.cst");


#endregion

#region 指定输出目录 & 渲染解析模版

for(int i = 0; i < Tables.Count; i++)
{
    // 表字段数据
    JToken extTableJson = json[Tables[i].Name];
    // 子表名称
    string subTableName = (string)extTableJson["sub_table"];
    
    if(extTableJson == null) {
        Response.WriteLine("【失败无表json数据】：" + Tables[i].Name);
        continue;
    }
    
    // 子表名
    string subTable = (string)extTableJson["sub_table"];
    // 子表数据填充
    extTableJson["subTableJson"] = json[subTable];
    
    // vue3 - api
    string vue3ApiDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\api\\" + SnakeFormatHump(Tables[i].Name) + ".js";
    RenderFileUsingProperties(vue3ApiDirectory, true, ref vue3ApiTemplate, Tables[i], extTableJson);
    
    // vue3 - 列表
    string vue3IndexDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\views\\" + SnakeFormatHump(Tables[i].Name) + "\\index.vue";
    RenderFileUsingProperties(vue3IndexDirectory, true, ref vue3IndexTemplate, Tables[i], extTableJson);
    
    // vue3 - 添加
    string vue3AddDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\views\\" + SnakeFormatHump(Tables[i].Name) + "\\add.vue";
    RenderFileUsingProperties(vue3AddDirectory, true, ref vue3AddTemplate, Tables[i], extTableJson);
    
    // vue3 - 编辑
    string vue3EditDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\views\\" + SnakeFormatHump(Tables[i].Name) + "\\edit.vue";
    RenderFileUsingProperties(vue3EditDirectory, true, ref vue3EditTemplate, Tables[i], extTableJson);
    
    // vue3 - 详情
    string vue3DetailDirectory = OutputDirectory + "\\" + RootNameSpace + "\\vue3\\views\\" + SnakeFormatHump(Tables[i].Name) + "\\detail.vue";
    // RenderFileUsingProperties(vue3DetailDirectory, true, ref vue3DetailTemplate, Tables[i], extTableJson);
    
    // uniapp - api
    string uniappApiDirectory = OutputDirectory + "\\" + RootNameSpace + "\\uniapp\\api\\" + SnakeFormatHump(Tables[i].Name) + ".js";
    RenderFileUsingProperties(uniappApiDirectory, true, ref uniappApiTemplate, Tables[i], extTableJson);
    
    // uniapp - 列表
    string uniappIndexDirectory = OutputDirectory + "\\" + RootNameSpace + "\\uniapp\\pages\\" + SnakeFormatHump(Tables[i].Name) + "\\" + SnakeFormatHump(Tables[i].Name) + ".vue";
    RenderFileUsingProperties(uniappIndexDirectory, true, ref uniappIndexTemplate, Tables[i], extTableJson);
    
    // uniapp - 子表
    if(subTableName != "") {
        string uniappSubTableDirectory = OutputDirectory + "\\" + RootNameSpace + "\\uniapp\\pages\\" + SnakeFormatHump(Tables[i].Name) + "\\components\\subTable.vue";
        RenderFileUsingProperties(uniappSubTableDirectory, true, ref uniappSubTableTemplate, Tables[i], extTableJson);
    }
    
    // uniapp - 添加
    string uniappAddDirectory = OutputDirectory + "\\" + RootNameSpace + "\\uniapp\\pages\\" + SnakeFormatHump(Tables[i].Name) + "\\components\\add.vue";
    RenderFileUsingProperties(uniappAddDirectory, true, ref uniappAddTemplate, Tables[i], extTableJson);
    
    // uniapp - 编辑
    string uniappEditDirectory = OutputDirectory + "\\" + RootNameSpace + "\\uniapp\\pages\\" + SnakeFormatHump(Tables[i].Name) + "\\components\\edit.vue";
    RenderFileUsingProperties(uniappEditDirectory, true, ref uniappEditTemplate, Tables[i], extTableJson);
}

#endregion
%>

完成！
<script runat="template">

#region Properties 属性定义
	
    #region Output 文件输出

    private string _outputDirectory = string.Empty;
	
    [Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))] 
	[OptionalAttribute]
	[Category("General")]
	[Description("生成结果的输出目录")]
	[DefaultValue("")]
	public string  OutputDirectory
	{ 
		get
		{
			if (_outputDirectory.Length == 0)
			{
				return CodeTemplateInfo.DirectoryName + "\\out";
			}
			else
			{
				return _outputDirectory;
			}
		}
		set
		{
			if (value.EndsWith("\\")) value = value.Substring(0, value.Length - 1);
			_outputDirectory = value;
		} 
	}
    
	#endregion
	
#endregion

</script>
