<%@ Template Language="C#" TargetLanguage="Text" Description="js api模板" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="所基于的表" %>
<%@ Property Name="ExtJson" Type="CodeSmith.Engine.Json.Linq.JToken" Category="Context" Description="表额外数据" %>

<!-- #include file="..\\..\\common\\utils.cst" -->
<!-- #include file="..\\..\\common\\mapTypeTransform.cst" -->
<%

// 表字段额外数据
JToken ExtInfo = ExtJson["field"];
// 子表名称
string subTableName = (string)ExtJson["sub_table"];
// 子表字段额外数据
JToken ExtSubTableInfo = null;
if(subTableName != "") {
    ExtSubTableInfo = ExtJson["subTableJson"]["field"];
}

%>
import request from '@/utils/request.js'

<%--
    api接口请求
--%>
// 查询 <%= SourceTable.Description %> 列表
export const list<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/list', params)

// 导出 <%= SourceTable.Description %> 列表
export const export<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/export', params)

// 查询 <%= SourceTable.Description %> 详细
export const detail<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/detail', params)

// 新增 <%= SourceTable.Description %>
export const add<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/add', params)

// 修改 <%= SourceTable.Description %>
export const edit<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/edit', params)

// 删除 <%= SourceTable.Description %>
export const del<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/del', params)
<% if(subTableName != "") { %>

// <%= SourceTable.Description %> 子表
export const subDetail<%= SnakeFormatHump(SourceTable.Name, true) %> = (params) => request.post('/api/<%= SnakeFormatHump(SourceTable.Name, true) %>/subDetail', params)

<% } %>