<%@ Template Language="C#" TargetLanguage="Text" Description="js api模板" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="表集合" %>

<!-- #include file="..\\..\\common\\utils.cst" -->
<!-- #include file="..\\..\\common\\mapTypeTransform.cst" -->
/*
  本文件的内容需要手动整合
*/

// 页面中的菜单数据
const menuDataList = [
  {
    title: '管理页面',
    permissions: [
      <% for(int i = 0; i < Tables.Count; i++) { %>
      '<%= SnakeFormatHump(Tables[i].Name, true) %>.list',
      <% } %>
    ],
    children: [
      <% for(int i = 0; i < Tables.Count; i++) { %>
      {
        title: '<%= Tables[i].Description == "" ? SnakeFormatHump(Tables[i].Name) : Tables[i].Description %>',
        icon: 'file-alt',
        url: '/pages/sys/<%= SnakeFormatHump(Tables[i].Name) %>/<%= SnakeFormatHump(Tables[i].Name) %>',
        permissions: ['<%= SnakeFormatHump(Tables[i].Name, true) %>.list'],
      },
      <% } %>
    ],
  }
]

// pages.json中页面json数据
const pages = [
  <% for(int i = 0; i < Tables.Count; i++) { %>
  {
    "path": "pages/sys/<%= SnakeFormatHump(Tables[i].Name) %>/<%= SnakeFormatHump(Tables[i].Name) %>",
    "style": {
      "navigationBarTitleText": "<%= Tables[i].Description == "" ? SnakeFormatHump(Tables[i].Name) : Tables[i].Description %>",
      "enablePullDownRefresh": true
    }
  },
  <% } %>
]