<%@ Template Language="C#" TargetLanguage="Text" Description="vue3模板" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>


<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="所基于的表" %>

<!-- #include file="..\\common\\utils.cst" -->
<!-- #include file="..\\common\\mapTypeTransform.cst" -->
<template>
    <div>
        <h2>表名:</h2>
        <p><%= SnakeFormatHump(SourceTable.Name) %></p>
        <h2>表描述:</h2>
        <p><%= SourceTable.Description %></p>
    </div>
</template>

<script setup name="<%= SnakeFormatHump(SourceTable.Name, true) %>">
/**
 * @type {import('@/api/<%= SnakeFormatHump(SourceTable.Name, true) %>').<%= SnakeFormatHump(SourceTable.Name, true) %>}
 */
</script>

<style scoped lang="scss"></style>
